<center>
<img src="img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Написав решение, сделайте коммит в свою ветвь.**

### УБЕДИТЕСЬ, ЧТО ВЕТКА ВАША! Запустите клетку ниже, чтобы посмотреть на какой ветке вы находитесь

In [1]:
!git branch

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [18]:
male = len(data[data["sex"]=="Male"])
female = len(data[data["sex"]=="Female"])
print("Мужчин: " + str(male) + "\nЖенщин: " + str(female))

Мужчин: 21790
Женщин: 10771

**2. Каков средний возраст (признак *age*) женщин?**

In [19]:
old = data[data["sex"]=="Female"]
old["age"].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [25]:
data["native-country"].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [29]:
country = data[data["native-country"]=="Germany"]
mean = len(country)/len(data)
print(str(mean*100) + " % - доля Германов")

0.42074874850281013 % - доля Германов

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [35]:
dm = data.groupby('salary')[['age']].mean()
ds = data.groupby('salary')[['age']].std()
d = pd.concat([dm,ds],axis=1)
d.columns = ['mean','std']
print(d)

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [51]:
data["education"].unique()
data["salary"].unique()

array(['<=50K', '>50K'], dtype=object)

In [79]:
def var1():
    dm = data[data["salary"]==">50K"]
    dm["education"].unique()
    for item in dm["education"].unique():
        print(item)
        if item =="Bachelors":
            continue
            if item =="Prof-school":
                continue
                if item =="Assoc-acdm":
                    continue
                    if item =="Assoc-voc":
                        continue
                        if item =="Masters":
                            continue
                            if item =="Doctorate":
                                continue
                            else:
                                print("False")
                                
def var2():
    dm = data[data["salary"]==">50K"]
    dm["education"].unique()
    counter = 0
    educ = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
    for item in dm["education"].unique():
        if item in educ:
            counter = counter + 1
            #print(counter)
    if counter == len(dm["education"].unique()):
        print("True")
    else:
        print("False")

#var1()
var2()

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [99]:
age_statistic = data.groupby(['sex','race','age']).count()
print(age_statistic)
print(data[data['sex']=="Male"].groupby(['race'])['age'].max())

                               workclass  fnlwgt  education  education-num  \
sex    race               age
Female Amer-Indian-Eskimo 17           2       2          2              2
                          18           2       2          2              2
                          19           5       5          5              5
                          21           4       4          4              4
                          22           4       4          4              4
...                                  ...     ...        ...            ...
Male   White              84           5       5          5              5
                          85           2       2          2              2
                          87           1       1          1              1
                          88           2       2          2              2
                          90          22      22         22             22

                               marital-status  occupation  relationship  \
sex    race               age
Female Amer-Indian-Eskimo 17                2           2             2
                          18                2           2             2
                          19                5           5             5
                          21                4           4             4
                          22                4           4             4
...                                       ...         ...           ...
Male   White              84                5           5             5
                          85                2           2             2
                          87                1           1             1
                          88                2           2             2
                          90               22          22            22

                               capital-gain  capital-loss  hours-per-week  \
sex    race               age
Female Amer-Indian-Eskimo 17              2             2               2
                          18              2             2               2
                          19              5             5               5
                          21              4             4               4
                          22              4             4               4
...                                     ...           ...             ...
Male   White              84              5             5               5
                          85              2             2               2
                          87              1             1               1
                          88              2             2               2
                          90             22            22              22

                               native-country  salary
sex    race               age
Female Amer-Indian-Eskimo 17                2       2
                          18                2       2
                          19                5       5
                          21                4       4
                          22                4       4
...                                       ...     ...
Male   White              84                5       5
                          85                2       2
                          87                1       1
                          88                2       2
                          90               22      22

[546 rows x 12 columns]
race
Amer-Indian-Eskimo    82
Asian-Pac-Islander    90
Black                 90
Other                 77
White                 90
Name: age, dtype: int64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [124]:
def inthis(a):
    if "Maried" in a:
        return True
    else:
        return False

mar = data[data["sex"]=="Male"].groupby(['marital-status','salary']).filter(lambda x:'maritel-status'=='Married-civ-spouse').count()
print(mar)
inthis("sdMar in case")

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

False

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [177]:
data1 = data[data['hours-per-week']==data['hours-per-week'].max()]
print(len(data1))
print(len(data1[data1['salary']==">50K"])/len(data1))

85
0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [178]:
data.groupby(['salary', 'native-country'])['hours-per-week'].mean()

salary  native-country
<=50K   ?                  40.164760
        Cambodia           41.416667
        Canada             37.914634
        China              37.381818
        Columbia           38.684211
                             ...
>50K    Thailand           58.333333
        Trinadad&Tobago    40.000000
        United-States      45.505369
        Vietnam            39.200000
        Yugoslavia         49.500000
Name: hours-per-week, Length: 82, dtype: float64